:root {
    --tile-background: rgb(65, 65, 129);
}

* {
    box-sizing: border-box;
    user-select: none;
}

/* Hiding arrows in input fields */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input.player-score::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number].player-score {
  -moz-appearance: textfield;
}

body {
    background: black;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#admin {
    width: 100%;
    background-color: lightgray;
}

#board {
    display: grid;
    grid: 1fr / repeat(6, 1fr);
}

.category {
    display: grid;
    grid: repeat(6, 1fr), 1fr;
}

h1 {
    text-align: center;
    margin: 0;
    font-size: 5rem;
}

p {
    margin: 0;
    text-align: center;
}

h1, .title, .tile, #playersDisplay p, .player-score{
    background-color: var(--tile-background);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 5px;
}

.player-score {
    border: none;
    text-align: center;
    width: 100%;
}

.playerBoard {
    background-color: var(--tile-background);
}

.tile, .title, .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .5%;
    min-height: 100px
}

.tile {
    font-size: 5rem;
}

.tile.answered {
    color: var(--tile-background);
}

.question.displaying {
    position: absolute;
    top: 0;
    left: 0;
    z-index: +1;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: var(--tile-background);
    color: white;
}

#playersDisplay {
    display: grid;
    grid: 1fr / 1fr 1fr 1fr 1fr;
    gap: .5%;
    margin: 0 1%;
}

#playersDisplay p {
    margin: 0;
    text-align: center;
}

.player-name {
    font-size: 1rem;
}
.player-score {
    font-size: 2rem;
}

fieldset {
    margin: 0;
    padding: 10px;
    border: none;
}

.hidden {
    display: none;
}